* {box-sizing: border-box}
form{
   width: 450px;
   margin: 0 auto;
}
/* Add padding to containers */
.container {
  padding: 14px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a text color to links */
a {
  color: black;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  
  text-align: center; 
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 94%;
  opacity: 0.9;
  margin: 0 auto;
  
}
#registration_error{
  color: red;
  text-align: center;
  padding: 20px;
  width: 94%;
}